@{ ViewBag.Title = (Model.Title ?? "Season " + Model.SeasonNumber) + " | " + Model.TvShow.Title; }
@model Season

<div class="row">
	<div class="col-sm-12 col-lg-12 col-md-12">
		<h1>@Model.TvShow.Title | Season @Model.SeasonNumber @if (Model.Title != null) { <small>@Model.Title</small> }</h1>
		<p><b class="text-info">First Aired:</b> @Util.ToSpanishDate(Model.FirstAired)</p>
		<p><b class="text-success">Last Aired:</b> @(Model.LastAired != null ? Util.ToSpanishDate((DateTime)Model.LastAired) : "N/A")</p>
		<p><b class="text-warning">Number of episodes:</b> @Model.Episodes.Count()</p>
		<a href="/Shows/Show/@Model.TvShow.ID" class="btn btn-success">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Return to <i>@Model.TvShow.Title</i>
		</a>
		<hr>
		<div class="panel panel-success">
			<div class="panel-heading">
				Episodes
			</div>
			<div class="panel-body">
				@if (Model.Episodes.Count() == 0) {
					<b class="text-success">This season doesn't have any episodes yet :'v</b>
				} else {
					<div class="list-group">
						@foreach (var episode in Model.Episodes) {
							<a href="/Shows/Episode/@episode.ID" class="list-group-item">
								<b class="text-success">Episode:</b> @episode.EpNumber | <i>@episode.Title</i>
							</a>
						}
					</div>
				}
			</div>
		</div>
	</div>
</div>