<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8">
		<title>@(ViewBag.Title == null ? "" : ViewBag.Title + " - ")Tv Shows</title>
		<style>
			select { cursor: pointer; }
		</style>
		@Styles.Render("~/app-styles")
		@Scripts.Render("~/app-scripts")
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<span class="glyphicon glyphicon-film"></span>
						<b>Tv Shows</b>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<form action="/Home/Search" method="get" class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" name="query" class="form-control input-sm" placeholder="Search for a TV show..." />
						</div>
						<input type="submit" class="btn btn-default btn-sm" value="Search">
						<a href="/Shows/Add" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-plus"></span>
							Add a new Tv show
						</a>
					</form>
				</div>
			</div>
		</div>
		<div class="container">
			@RenderBody()
			<hr>
			<footer>
				<p>&copy; @DateTime.Now.Year - TvShows</p>
				<p>Do whatever you want with this code :p</p>
			</footer>
		</div>
	</body>
</html>